
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Blogs</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="/User/index">Home</a></li>
            <li class="breadcrumb-item"><a href="/User/blog">blog </a></li>
            <li class="breadcrumb-item"><a href="/User/Event">Event & Activity</a></li>
            <li class="breadcrumb-item"><a href="/User/OurGallery">Our Gallery </a></li>
            <li class="breadcrumb-item active text-primary"></li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- Blog Start -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="d-flex flex-column mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Blog</h4>
            <h1 class="display-4 mb-4"> News & Updates</h1>
            <p class="mb-0">
                Stay informed with the latest industry news, innovations, and developments in electric mobility, technology, and engineering solutions. Our regular updates will keep you connected to new trends, product launches, and key advancements in EVs, renewable energy, automation, and more. Stay ahead of the curve with insights and stories that drive progress and inspire innovation.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/Template/img/a3.png" class="img-fluid w-100" alt="">
                    </div>
                    <div class="blog-heading ms-4">
                        <a href="#" class="h4 mb-0 p-4">Digital Business Support System Market is Poised to Grow a Robust CAGR of 10.2% by 2030</a>
                    </div>
                    <div class="blog-content bg-light p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-0 small"><i class="fa fa-calendar me-2"></i> 09 June 2024 08:13 AM </p>
                            <p class="mb-0 small"><i class="fa fa-tag me-2"></i> IT, New Media & Software</p>
                        </div>
                        <p class="mb-4">
                            The latest research study released by HTF MI on Digital Business Support System Market with 123+ pages of analysis on business Strategy taken up by key and emerging industry players and delivers know-how of the current market development, landscape, sales, drivers, opportunities, market viewpoint and status.
                        </p>
                        <a class="btn btn-primary py-2 px-4" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/Template/img/a5.jpg" class="img-fluid w-100" alt="">
                    </div>
                    <div class="blog-heading ms-4">
                        <a href="#" class="h4 mb-0 p-4">Web Design Software Market </a>
                    </div>
                    <div class="blog-content bg-light p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-0 small"><i class="fa fa-calendar me-2"></i> 09 June 2024 01:13 PM </p>
                            <p class="mb-0 small"><i class="fa fa-tag me-2"></i> IT, New Media & Software</p>
                        </div>
                        <p class="mb-4">
                            Global Web Design Software Market Size, Player Analysis & Segment Growth 2020-2032 is the latest research study released by HTF MI evaluating the market risk side analysis, highlighting opportunities, and leveraging strategic and tactical decision-making support.
                        </p>
                        <a class="btn btn-primary py-2 px-4" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/Template/img/a6.png" class="img-fluid w-100" alt="">
                    </div>
                    <div class="blog-heading ms-4">
                        <a href="#" class="h4 mb-0 p-4">Why 3D Visualization Holds Key to Future Chip Designs</a>
                    </div>
                    <div class="blog-content bg-light p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-0 small"><i class="fa fa-calendar me-2"></i> June 24, 2024</p>
                            <p class="mb-0 small"><i class="fa fa-tag me-2"></i> 3D Visualization</p>
                        </div>
                        <p class="mb-4">
                            At the Design Automation Conference this week, Ansys explores how NVIDIA Omniverse and Modulus help accelerate simulation workflows.
                            Multi-die chips, known as three-dimensional integrated circuits, or 3D-ICs, represent a revolutionary step in semiconductor design. The chips are vertically stacked to create a compact structure that boosts performance without increasing power consumption.
                        </p>
                        <a class="btn btn-primary py-2 px-4" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="d-flex flex-column mx-auto text-center mb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
            <h4 class="text-primary">Our Blog</h4>
            <h1 class="display-4 mb-4"> News & Updates</h1>
            <p class="mb-0">
                Stay informed with the latest industry news, innovations, and developments in electric mobility, technology, and engineering solutions. Our regular updates will keep you connected to new trends, product launches, and key advancements in EVs, renewable energy, automation, and more. Stay ahead of the curve with insights and stories that drive progress and inspire innovation.
            </p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/Template/img/a3.png" class="img-fluid w-100" alt="">
                    </div>
                    <div class="blog-heading ms-4">
                        <a href="#" class="h4 mb-0 p-4">Digital Business Support System Market is Poised to Grow a Robust CAGR of 10.2% by 2030</a>
                    </div>
                    <div class="blog-content bg-light p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-0 small"><i class="fa fa-calendar me-2"></i> 09 June 2024 08:13 AM </p>
                            <p class="mb-0 small"><i class="fa fa-tag me-2"></i> IT, New Media & Software</p>
                        </div>
                        <p class="mb-4">
                            The latest research study released by HTF MI on Digital Business Support System Market with 123+ pages of analysis on business Strategy taken up by key and emerging industry players and delivers know-how of the current market development, landscape, sales, drivers, opportunities, market viewpoint and status.
                        </p>
                        <a class="btn btn-primary py-2 px-4" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.4s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/Template/img/a5.jpg" class="img-fluid w-100" alt="">
                    </div>
                    <div class="blog-heading ms-4">
                        <a href="#" class="h4 mb-0 p-4">Web Design Software Market </a>
                    </div>
                    <div class="blog-content bg-light p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-0 small"><i class="fa fa-calendar me-2"></i> 09 June 2024 01:13 PM </p>
                            <p class="mb-0 small"><i class="fa fa-tag me-2"></i> IT, New Media & Software</p>
                        </div>
                        <p class="mb-4">
                            Global Web Design Software Market Size, Player Analysis & Segment Growth 2020-2032 is the latest research study released by HTF MI evaluating the market risk side analysis, highlighting opportunities, and leveraging strategic and tactical decision-making support.
                        </p>
                        <a class="btn btn-primary py-2 px-4" href="#">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="~/Template/img/a6.png" class="img-fluid w-100" alt="">
                    </div>
                    <div class="blog-heading ms-4">
                        <a href="#" class="h4 mb-0 p-4">Why 3D Visualization Holds Key to Future Chip Designs</a>
                    </div>
                    <div class="blog-content bg-light p-4">
                        <div class="d-flex justify-content-between mb-4">
                            <p class="mb-0 small"><i class="fa fa-calendar me-2"></i> June 24, 2024</p>
                            <p class="mb-0 small"><i class="fa fa-tag me-2"></i> 3D Visualization</p>
                        </div>
                        <p class="mb-4">
                            At the Design Automation Conference this week, Ansys explores how NVIDIA Omniverse and Modulus help accelerate simulation workflows.
                            Multi-die chips, known as three-dimensional integrated circuits, or 3D-ICs, represent a revolutionary step in semiconductor design. The chips are vertically stacked to create a compact structure that boosts performance without increasing power consumption.
                        </p>
                        <a class="btn btn-primary py-2 px-4" href="#">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End-->







<!--Events Start -->

<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class=" text-primary"> Life of P2P Analysis and Solution</h2>

                <h1 class="mb-4">
                    Celebrating Birthdays at the Workplace 🎈
                </h1>
                <p class="mb-0">
                    Building Relationships And Fostering Teamwork Through Birthday Celebrations.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class=" text-primary">Tour</h2>

                <h1 class="mb-4">

                    Exotic destination for  Corporate  Tours
                </h1>
                <p class="mb-0">
                    Corporate tours and meetings give employees an opportunity to meet informally over formal matters, giving them an ideal break.
                </p>
            </div>
        </div>
    </div>
</div>



<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class=" text-primary"> Employee Aniversry</h2>

                <h1 class="mb-4">

                    Congratulations on reaching another incredible milestone with us!
                </h1>
                <p class="mb-0">
                    An employee anniversary is a milestone that marks the completion of a significant period of time that an employee has been with a company, such as one year, five years, or more.
                    Your dedication, hard work, and passion have been key to our success. We are grateful to have you as part of the team and look forward to many more years of growth and achievements together.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class=" text-primary">Activity</h2>

                <h1 class="mb-4">
                    Games and Activities to Keep Teams Connected
                </h1>
                <p class="mb-0">
                    Board Games:-
                    Put board games into the mix of activities in your workplace. This will help mental stimulation as strategy and quick-wit come into play. Popular choices include Chess, Scrabble, Monopoly, and Checkers.
                </p>
            </div>
        </div>
    </div>
</div>

<!--Events End -->













<!--Our Gallery-->
<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class=" text-primary">Our Gallery</h2>

                <h1 class="mb-4">Explore our gallery to see the innovation and expertise behind our work.</h1>
                <p class="mb-0">
                    From cutting-edge EV mobility solutions to advanced engineering projects, our gallery showcases the breadth of our capabilities and the impact of our services. Get a glimpse of our journey, achievements, and the diverse projects we’ve undertaken across industries.

                </p>
            </div>
        </div>

        <!-- Owl Carousel -->
        <div class="owl-carousel owl-3-slider">
            <div class="item">
                <a class="media-thumb" href="/Template/img/w8.jpg" data-fancybox="gallery" data-caption="Pragser Wildsee, Italy">
                    <div class="media-text">
                        <h3>Pragser Wildsee</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="/Template/img/w8.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/w11.jpg" data-fancybox="gallery" data-caption="Oia, Greece">
                    <div class="media-text">
                        <h3>Oia</h3>
                        <span class="location">Greece</span>
                    </div>
                    <img src="/Template/img/w11.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/w4.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="/Template/img/w4.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class=" text-primary">Our EV-Mobality</h2>

                <h1 class="mb-4">EV-Mobality vehicles designed </h1>
                <p class="mb-0">
                    We are at the forefront of developing innovative electric mobility solutions, combining advanced technology with sustainability.
                    Our drones offer efficient, eco-friendly transportation options, enhancing mobility in urban environments and beyond, while focusing on precision, reliability, and cutting-edge design.

                </p>
            </div>
        </div>

        <!-- Owl Carousel -->
        <div class="owl-carousel owl-3-slider">
            <div class="item">
                <a class="media-thumb" href="/Template/img/em1.jpg" data-fancybox="gallery" data-caption="Pragser Wildsee, Italy">
                    <div class="media-text">
                        <h3>Pragser Wildsee</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="/Template/img/em1.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/em2.jpg" data-fancybox="gallery" data-caption="Oia, Greece">
                    <div class="media-text">
                        <h3>Oia</h3>
                        <span class="location">Greece</span>
                    </div>
                    <img src="/Template/img/em2.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/a1.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="/Template/img/a1.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section">
    <div class="container">
        <!-- Owl Carousel -->
        <div class="owl-carousel owl-3-slider">
            <div class="item">
                <a class="media-thumb" href="/Template/img/d1.jpg" data-fancybox="gallery" data-caption="Pragser Wildsee, Italy">
                    <div class="media-text">
                        <h3>Pragser Wildsee</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="/Template/img/d1.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/d2.jpg" data-fancybox="gallery" data-caption="Oia, Greece">
                    <div class="media-text">
                        <h3>Oia</h3>
                        <span class="location">Greece</span>
                    </div>
                    <img src="/Template/img/d2.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/s2.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="/Template/img/s2.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/s7.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="/Template/img/s7.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class="text-primary">Our Web Service Gallery</h2>

                <h1 class="mb-4">Explore our gallery to see the innovation and expertise behind our work.</h1>
                <p class="mb-0">
                    E-commerce platforms to corporate websites, we deliver solutions that enhance user experience, improve online visibility, and drive business growth.
                </p>
            </div>
        </div>

        <!-- Owl Carousel -->
        <div class="owl-carousel owl-3-slider">
            <div class="item">
                <a class="media-thumb" href="/Template/img/w8.jpg" data-fancybox="gallery" data-caption="Pragser Wildsee, Italy">
                    <div class="media-text">
                        <h3>Pragser Wildsee</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="/Template/img/w8.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/w11.jpg" data-fancybox="gallery" data-caption="Oia, Greece">
                    <div class="media-text">
                        <h3>Oia</h3>
                        <span class="location">Greece</span>
                    </div>
                    <img src="/Template/img/w11.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="~/Template/img/w9.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="~/Template/img/w9.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="~/Template/img/w3.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="~/Template/img/w3.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class=" text-primary">Explore Our Gallery  </h2>

                <h1 class="mb-4">Explore our gallery to see the innovation and expertise behind our work.</h1>
                <p class="mb-0">

                </p>
            </div>
        </div>

        <!-- Owl Carousel -->
        <div class="owl-carousel owl-3-slider">
            <div class="item">
                <a class="media-thumb" href="/Template/img/m1.jpg" data-fancybox="gallery" data-caption="Pragser Wildsee, Italy">
                    <div class="media-text">
                        <h3>Pragser Wildsee</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="/Template/img/w8.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/w11.jpg" data-fancybox="gallery" data-caption="Oia, Greece">
                    <div class="media-text">
                        <h3>Oia</h3>
                        <span class="location">Greece</span>
                    </div>
                    <img src="/Template/img/w11.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/w4.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="/Template/img/w4.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class=" text-primary">Our creative services Gallery</h2>

                <h1 class="mb-4">Explore our gallery to see the innovation and expertise behind our work.</h1>
                <p class="mb-0">
                    Our creative services focus on delivering innovative design, branding, and digital marketing solutions to elevate your brand.
                </p>
            </div>
        </div>

        <!-- Owl Carousel -->
        <div class="owl-carousel owl-3-slider">
            <div class="item">
                <a class="media-thumb" href="/Template/img/w8.jpg" data-fancybox="gallery" data-caption="Pragser Wildsee, Italy">
                    <div class="media-text">
                        <h3>Pragser Wildsee</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="/Template/img/w8.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/w11.jpg" data-fancybox="gallery" data-caption="Oia, Greece">
                    <div class="media-text">
                        <h3>Oia</h3>
                        <span class="location">Greece</span>
                    </div>
                    <img src="/Template/img/w11.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/d1.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="/Template/img/d1.png" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class=" text-primary">Our Modern agricultural equipment</h2>

                <h1 class="mb-4">Agricultural equipment includes machinery, tools, and vehicles designed </h1>
                <p class="mb-0">
                    Modern agricultural equipment has revolutionized farming practices, allowing farmers to work more land with less labor, reducing costs, and improving crop yields. This equipment is essential for meeting the growing global demand for food and agricultural products.

                </p>
            </div>
        </div>

        <!-- Owl Carousel -->
        <div class="owl-carousel owl-3-slider">
            <div class="item">
                <a class="media-thumb" href="/Template/img/ia1.jpg" data-fancybox="gallery" data-caption="Pragser Wildsee, Italy">
                    <div class="media-text">
                        <h3>Pragser Wildsee</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="/Template/img/ia1.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/industrial-4.png" data-fancybox="gallery" data-caption="Oia, Greece">
                    <div class="media-text">
                        <h3>Oia</h3>
                        <span class="location">Greece</span>
                    </div>
                    <img src="/Template/img/industrial-4.png" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/ag2.png" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="/Template/img/ag2.png" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>





































<!--Vedio-->
@* <div class="container-fluid gallery py-5 my-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px;">
        <h5 class="section-title px-3">Our Gallery</h5>
        <h1 class="mb-4">Tourism &amp; Traveling Gallery.</h1>
        <p class="mb-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempore nam, architecto doloremque velit explicabo? Voluptate sunt eveniet fuga eligendi! Expedita laudantium fugiat corrupti eum cum repellat a laborum quasi.
        </p>
    </div>
    <div class="tab-class text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
            <li class="nav-item">
                <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill active" data-bs-toggle="pill" href="#GalleryTab-1">
                    <span class="text-dark" style="width: 150px;">All</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex py-2 mx-3 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#GalleryTab-2">
                    <span class="text-dark" style="width: 150px;">World tour</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#GalleryTab-3">
                    <span class="text-dark" style="width: 150px;">Ocean Tour</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#GalleryTab-4">
                    <span class="text-dark" style="width: 150px;">Summer Tour</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="d-flex mx-3 py-2 border border-primary bg-light rounded-pill" data-bs-toggle="pill" href="#GalleryTab-5">
                    <span class="text-dark" style="width: 150px;">Sport Tour</span>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="GalleryTab-1" class="tab-pane fade show p-0 active">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="~/Template/img/a5.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="~/Template/img/a5.jpg" data-lightbox="gallery-1" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="~/Template/img/a3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="~/Template/img/a3.jpg" data-lightbox="gallery-2" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="~/Template/img/x11.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="~/Template/img/x11.jpg" data-lightbox="gallery-3" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="~/Template/img/x4.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="~/Template/img/x4.jpg" data-lightbox="gallery-4" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="~/Template/img/w11.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="~/Template/img/w11.jpg" data-lightbox="gallery-5" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="~/Template/img/w6.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="~/Template/img/w6.jpg" data-lightbox="gallery-6" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-7.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-7.jpg" data-lightbox="gallery-7" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-8.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-8.jpg" data-lightbox="gallery-8" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-9.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-9.jpg" data-lightbox="gallery-9" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-10.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-10.jpg" data-lightbox="gallery-10" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GalleryTab-2" class="tab-pane fade show p-0">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GalleryTab-3" class="tab-pane fade show p-0">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GalleryTab-4" class="tab-pane fade show p-0">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="GalleryTab-5" class="tab-pane fade show p-0">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-2.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-2.jpg" data-lightbox="gallery-2" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-2">
                        <div class="gallery-item h-100">
                            <img src="img/gallery-3.jpg" class="img-fluid w-100 h-100 rounded" alt="Image">
                            <div class="gallery-content">
                                <div class="gallery-info">
                                    <h5 class="text-white text-uppercase mb-2">World Tour</h5>
                                    <a href="#" class="btn-hover text-white">View All Place <i class="fa fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                            <div class="gallery-plus-icon">
                                <a href="img/gallery-3.jpg" data-lightbox="gallery-3" class="my-auto"><i class="fas fa-plus fa-2x text-white"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@