
@{
    ViewData["Title"] = "EngineeringService";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<!-- Header Start -->
        <div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">Engineering Service</h4>
                <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="/User/index">Home</a></li>
            <li class="breadcrumb-item"><a href="/User/Service">Service</a></li>
            <li class="breadcrumb-item active text-primary">Engineering Service</li>
                </ol>    
            </div>
        </div>
 <!-- Header End -->



<!-- EngineeringService Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class="text-primary">Our Engineering Services </h2>

                <h1 class="mb-4">we combine innovation with  expertise to tackle complex engineering challenges. </h1>
                <p class="mb-0">
                    Our team of skilled engineers ensures precision, efficiency, and sustainability in every project, delivering results that meet the specific needs of our clients. Whether it's mechanical design, structural analysis, or electrical systems, we provide tailored engineering solutions to drive success and innovation in your business.
                </p>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-7 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="h-100">
                    <h4 class="text-primary">
                        <b>
                            Engineering Service
                        </b>
                    </h4>
                    <h1 class="display-4 mb-4">
                        Types of EngineeringService Offered by P2P Analysis & Solution
                    </h1
                    <p class="mb-4">
                        P2P Analysis & Solution delivers comprehensive services throughout the entire product lifecycle, from initial concept design to post-production support. Our offerings encompass:
                     
                    </p>
                    <p>
                        Concept Development: Industrial design and styling, followed by optimization and functional validation.
                   <br>
                        Detailed Design: Advanced 3D CAD design and manufacturing drawings, complemented by empirical calculations.
                    </p>
                    <p>
                        Analysis and Simulation: Includes static, dynamic, and non-linear analyses, as well as computational fluid dynamics (CFD).
                  <br>
                        Tooling: Expertise in mold design, sheet metal forming, die design, and jig & fixture design.
                    </p>
                    <p class="mb-4">
                        Prototyping: Development and refinement of prototypes.
                    <p><br>
                        Manufacturing: Focus on digital manufacturing, ergonomics, and feasibility studies of manufacturing processes.
                    </p>
                   
                    <p class="mb-4">
                        Shop Floor and Scheduling: Includes plant simulation, work cell time studies, assembly processes, and automation.
                    <p ><br>
                        Future Life Experience: Training and support through computer-based training and interactive technical documentation.
                    </p>

                    <div class="text-dark mb-4">
                        <p class="fs-5">
                            <span class="fa fa-check text-primary me-2"></span> CAD Capabilities :
                        </p>
                        <p class="fs-5">
                            <span class="fa fa-check text-primary me-2"></span>CAE Capabilities :
                        </p>
                       
                    </div>
                    <a class="btn btn-primary py-3 px-4 px-md-5 ms-2" href="#">Contact us</a>
                </div>
            </div>
            <div class="col-lg-5 wow fadeInRight" data-wow-delay="0.2s">
                <div class="position-relative h-100">
                    <img src="~/Template/img/e1 (2).jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                    <div class="bg-white">
                        <div class="position-absolute pt-3 bg-white" style="width: 50%; left: 0; bottom: 0;">
                            <div class="bg-primary p-4">
                                <h4 class="display-2 mb-0">15+</h4>
                                <p class="text-white fs-5 mb-0">years of experience</p>
                            </div>
                        </div>
                        <div class="position-absolute p-3 bg-white pb-0 pe-0" style="width: 50%; bottom: 0; right: 0;">
                            <img src="~/Template/img/En1.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- EngineeringService Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="h-100">

                    <h1 class="display-4 mb-4">
                        Types of EngineeringService 
                    </h1>
                   
                 

                    <div class="text-dark mb-4">
                        <p class="fs-5">
                            <span class="fa fa-check text-primary me-2"></span> CAD Capabilities :
                        
                        </p>
                        <br>
                            P2P provides varied CAD services like Concept Designing, 3D Modelling, Drawing, Drafting, Product Design and Surfacing, Industrial Design, Product Engineering, Reverse Engineering, 2D to 3D Conversion etc. Our CAD and engineering services team uses all the leading CAD software such as
                        <p>
                            1.CATIA     2. Pro-E / Creo  3. Unigraphics /NX  4.Solid Works  5. AutoCad Inventor  6.solidThinking (Industrial Design)
                        </p>
                        <p class="fs-5">
                            <span class="fa fa-check text-primary me-2"></span>CAE Capabilities :
                        </p>
                        <p class=" text-primary mb-4">
                            We have a robust CAE infrastructure backed by technically strong team of CAE specialists having experience of working on complex assignments from cross industry verticals that can meet the most challenging CAE requirements through the use of some of the most advanced software solutions as mentioned below:
                        <p>
                            1.AltAir (HyperMesh,Optistruct+radios)  2.Ls Dyna  3. Ansys 4.Abaqus
                        </p>
                    </div>
                    <a class="btn btn-primary py-3 px-4 px-md-5 ms-2" href="#">Contact us</a>
                </div>
            </div>
            <div class="col-lg-5 wow fadeInRight" data-wow-delay="0.2s">
                <div class="position-relative h-100">
                    <img src="~/Template/img/E1.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                    <div class="bg-white">
                        <div class="position-absolute pt-3 bg-white" style="width: 50%; left: 0; bottom: 0;">
                            <div class="bg-primary p-4">
                                <h4 class="display-2 mb-0">15+</h4>
                                <p class="text-white fs-5 mb-0">years of experience</p>
                            </div>
                        </div>
                        <div class="position-absolute p-3 bg-white pb-0 pe-0" style="width: 50%; bottom: 0; right: 0;">
                            <img src="~/Template/img/e2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- EngineeringService End -->

<div class="untree_co-section">
    <div class="container">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class=" text-primary">Our Gallery</h2>

                <h1 class="mb-4">Explore our gallery to see the innovation and expertise behind our work.</h1>
                <p class="mb-0">
                    From cutting-edge EV mobility solutions to advanced engineering projects, our gallery showcases the breadth of our capabilities and the impact of our services. Get a glimpse of our journey, achievements, and the diverse projects we’ve undertaken across industries.

                </p>
            </div>
        </div>

        <!-- Owl Carousel -->
        <div class="owl-carousel owl-3-slider">
            <div class="item">
                <a class="media-thumb" href="/Template/img/a3.png" data-fancybox="gallery" data-caption="Pragser Wildsee, Italy">
                    <div class="media-text">
                        <h3>Pragser Wildsee</h3>
                        <span class="location">Italy</span>
                    </div>
                    <img src="/Template/img/a3.png" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/e2.jpg" data-fancybox="gallery" data-caption="Oia, Greece">
                    <div class="media-text">
                        <h3>Oia</h3>
                        <span class="location">Greece</span>
                    </div>
                    <img src="/Template/img/e2.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/E1.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="/Template/img/E1.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/k1.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="/Template/img/k1.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
            <div class="item">
                <a class="media-thumb" href="/Template/img/k2.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                    <div class="media-text">
                        <h3>Perhentian Islands</h3>
                        <span class="location">Malaysia</span>
                    </div>
                    <img src="/Template/img/k2.jpg" alt="Image" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Automotive Engineering startnew code external -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class="text-primary">Our Automotive Services </h2>

                <h1 class="mb-4">Vehicle performance, safety, innovation solutions. </h1>
                <p class="mb-0">
                    From concept design and product development to crashworthiness, NVH (noise, vibration, and harshness), and durability testing, we ensure vehicles meet stringent standards. Our expertise extends to powertrain development, electric mobility solutions, chassis engineering, and aerodynamic optimization.
                </p>
            </div>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #FFA500 transparent #FFA500;">
                    <img src="~/Template/img/a2.png" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                <h5 class="section-about-title pe-3">  Automotive  Engineering Service</h5>
                <h1 class="mb-4">  Types of Automotive  Engineering Service  <span class="text-primary"> Automotive CAD Capabilities :</span></h1>
                <p class="mb-4">
                    Industrial Design and Styling: Crafting visually compelling and functional designs for automotive interiors and exteriors.
                <p>
                    Digital Mock-ups: Developing digital models from styled (Class A) surfaces to visualize and refine design elements.
                    <br>
                    Part Design: Designing both interior and exterior automotive components, as well as under-body parts.
                <p>
                    Full Vehicle Integration: Comprehensive design integration for complete vehicle assemblies and components.
                    <br>
                    Variant Adaptation: Modifying existing designs to accommodate new vehicle variants.
                <p>
                    Tooling Design: Expertise in designing plastic molds, stamping dies, pressure die casting dies, as well as jigs and fixtures.
                    <br>
                    Scanning and Reverse Engineering: Utilizing advanced scanning technologies for reverse engineering and digital reconstruction of existing parts.
                <p>
                    Parametric Part Modeling: Creating flexible, parameter-driven models and custom CAD solutions tailored to specific needs.
                    <br>
                    Legacy Data Conversion: Converting legacy data from 2D to 3D formats to modernize and integrate with current systems.
                <p>
                    Onsite Manpower Deployment: Providing skilled personnel for on-site CAD and engineering support.
                    <br>
                    PLM Implementation and Customization: Implementing and customizing Product Lifecycle Management (PLM) systems to enhance project workflows.
                <p>
                    Interactive Part Catalogs: Developing interactive catalogs and simulations of manufacturing processes to streamline design and production.

                </p>
                
            </div>
        </div>
    </div>
</div>
        <!-- new code -->
<!-- Automotive Engineering start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="h-100">
                    <h4 class="text-primary">
                        <b>
                            Automotive  Engineering Service
                        </b>
                    </h4>
                    <h1 class="display-4 mb-4">
                        Types of Automotive Engineering Service
                    </h1>@*
                    <div class="row g-4 mb-4">
                    <div class="col-md-6">
                    <a href="#" class="d-flex">
                    <span class="fas fa-bolt fa-3x me-3"></span>
                    <h4 class="mb-0">We are a service-based company and a fast-growing one</h4>
                    </a>
                    </div>
                    <div class="col-md-6">
                    <a href="#" class="d-flex">
                    <span class="fas fa-broadcast-tower fa-3x me-3"></span>
                    <h4 class="mb-0">We also provide staffing services for other companies.</h4>
                    </a>
                    </div>
                    </div> *@
                  

                    <div class="text-dark mb-4">
                        <p class="fs-5">
                            <span class="fa fa-check text-primary me-2"></span>  Automotive CAE Capabilities :
                        </p>

                    </div>
                    <p class="mb-4">
                        Advanced static, dynamic, and nonlinear simulations, including nonlinear dynamic, buckling, modal, and transient analyses.
                        <br>
                        Occupant safety assessments, crash simulations, and impact analysis per global standards such as FMVSS.
                        <br>
                        Comprehensive product optimization and weight reduction strategies.
                        <br>
                        Product validation leveraging alternative materials.
                        <br>
                        Aerodynamic assessments and HVAC performance analysis using Computational Fluid Dynamics (CFD).
                        Durability, Vehicle stability, NVH, Rollover simulation
                        <br>
                        Thermal, modal, and vibration analysis for components such as headlamps, tail lamps, radiators, and mounting brackets.
                        <br>
                        Durability and stability evaluations, including NVH, rollover, and vehicle stability simulations.
                    </p>
                    <br>
                        Kinematic studies through mechanism simulation and multi-body dynamics.
                    </p>
                    <br>
                        Moldflow and sheet metal forming simulations for tooling and design validation.
                    </p>


                </div>
            </div>
            <div class="col-lg-5 wow fadeInRight" data-wow-delay="0.2s">
                <div class="position-relative h-100">
                    <img src="~/Template/img/a1.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                    <div class="bg-white">
                        <div class="position-absolute pt-3 bg-white" style="width: 50%; left: 0; bottom: 0;">
                            <div class="bg-primary p-4">
                                <h4 class="display-2 mb-0">15+</h4>
                                <p class="text-white fs-5 mb-0">years of experience</p>
                            </div>
                        </div>
                        <div class="position-absolute p-3 bg-white pb-0 pe-0" style="width: 50%; bottom: 0; right: 0;">
                            <img src="~/Template/img/a3.png" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Automotive Engineering end -->
<!-- Banner Start -->
<div class="container-fluid banner py-5 wow zoomIn" data-wow-delay="0.2s">
    <div class="banner-design-1"></div>
    <div class="banner-design-2"></div>
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <div class="">
                    <h4 class="text-white">Contact With Me</h4>
                    <h1 class="display-4 text-white mb-0">We provide Engineering services for our customer</h1>
                </div>
            </div>
            <div class="col-lg-4">
                
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- RTM Molding Start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class="text-primary">Resin Transfer Molding (RTM) </h2>

                <h1 class="mb-4">we combine innovation with  expertise to tackle complex engineering challenges. </h1>
                <p class="mb-0">
                    In RTM, modeling refers to the simulation and analysis of the RTM process to optimize the manufacturing of high-performance composite parts.
                </p>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-7 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="h-100">
                    <h4 class="text-primary">
                        <b>
                            Engineering Service
                        </b>
                    </h4>
                    <h1 class="display-4 mb-4">
                        
                    </h1>
                   
                    <p class="mb-4">
                        RTM is a closed-mold process where a dry reinforcement (like fiberglass or carbon fiber) is placed into a mold, <br>
                        and then a liquid resin is injected into the mold under pressure.
                        <br>
                        Once the resin fully saturates the reinforcement and cures, the result is a strong, lightweight composite part.<br>
                        This method is widely used in industries like automotive, aerospace, and marine for creating high-quality structural components.
                    </p>

                    <div class="text-dark mb-4">
                        <p class="fs-5">
                            <span class="fa fa-check text-primary me-2"></span>   Types of MOLDING Offered by P2P Analysis & Solution:
                        <p class="fs-5">
                            1.Flow Modeling<br>
                            2.Thermal Modeling.<br>
                            3.Stress and Structural Analysis<br>
                            4.Mold Filling Time Prediction.<br>
                            5.Permeability Modeling:<br>


                        </p>
                      
                    </div>
                   
                </div>
            </div>
            <div class="col-lg-5 wow fadeInRight" data-wow-delay="0.2s">
                <div class="position-relative h-100">
                    <img src="~/Template/img/mO1.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                    <div class="bg-white">
                        <div class="position-absolute pt-3 bg-white" style="width: 50%; left: 0; bottom: 0;">
                            <div class="bg-primary p-4">
                                <h4 class="display-2 mb-0">15+</h4>
                                <p class="text-white fs-5 mb-0">years of experience</p>
                            </div>
                        </div>
                        <div class="position-absolute p-3 bg-white pb-0 pe-0" style="width: 50%; bottom: 0; right: 0;">
                            <img src="~/Template/img/mO3.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--RTM Molding  End -->

<!--General Other Industrial Machinery left Start-->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class="text-primary">Our General Other Industrial Machinery </h2>

                <h1 class="mb-4">Vehicle performance, safety, innovation solutions. </h1>
                <p class="mb-0">
                    General industrial machinery includes a broad range of equipment used in manufacturing, production, and other industrial processes, designed to enhance efficiency, productivity, and reliability across various sectors.
                </p>
            </div>
        </div>
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #FFA500 transparent #FFA500;">
                    <img src="~/Template/img/s7.jpg" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                <h5 class="section-about-title pe-3"><b>General & Other Industrial Machinery </b></h5>
                <h1 class="mb-4">Welcome to <span class="text-primary">Industrial Machinery</span></h1>
                <p class="mb-4">
                    Industrial machinery is unique in every engineering aspect, appearing simple to construct but involving complex design and variables. Its wide range of applications—from simple to intricate—makes perfect design challenging. Applications include Special Purpose Machines, Production Equipment, Earth Moving Machinery, Printing and Packaging Machinery, Industrial Goods, Mechanisms, Automation, Robotics, and Jigs.

                    <br>
                    P2P has extensive experience in these areas, and through partnerships with leading engineering organizations, we have implemented cutting-edge CAD/CAM/CAE tools. This collaboration has enriched our domain knowledge, enabling us to effectively serve customers in India and abroad with innovative solutions and a deep understanding of their needs.
                 </p>
               
              
            </div>
        </div>
    </div>
</div>
<!--General Other Industrial Machinery End -->

<!-- Sample Project General Other Industrial Machinery start -->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <!-- Text Column (Now on the left side) -->
            <div class="col-lg-7" style="background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .8)), url(img/about-img-1.png);">
                <h5 class="section-about-title pe-3">General Other Industrial Machinery</h5>
                <h1 class="mb-4">General Other <span class="text-primary">Industrial Machinery</span></h1>
                <p class="mb-4">
                    Conceptual design and aesthetic development for a compact city car.
                    Complete vehicle integration for the Mahindra Scorpio.
                    <br>
                    Design and integration of the Mahindra Champion 3-Wheeler.
                    Development and integration of tractors and agricultural machinery.

                    <br>
                    Comprehensive analysis of seating systems following FMVSS regulations.
                    <br>
                    Headlamp design validation and performance testing.
                    Turnkey project for commercial vehicle modeling, including all components and systems.
                    <br>
                    Specialized vehicle components modeling tasks for various automotive projects.
                    <br>
                    Redesign and cost optimization of screw jacks through value engineering initiatives.
                    <br>
                    Sheet metal forming simulation for petrol tanks.
                    Impact and fatigue analysis for alloy wheels to ensure durability and safety.
                    <br>
                    Creation of an interactive welding process manual for technical guidance.
                    <br>
                    Detailed meshing and FEA setup for various automotive components.
                    <br>
                    Scanning and reverse engineering of mirror housings for accurate reproduction and design improvement.

                </p>

            </div>

            <!-- Image Column (Now on the right side) -->
            <div class="col-lg-5">
                <div class="h-100" style="border: 50px solid; border-color: transparent #FFA500 transparent #FFA500;">
                    <img src="~/Template/img/En1.png" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Sample Project General Other Industrial Machinery start end-->


