
@{
    ViewData["Title"] = "ContactFrom";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}



<!-- Contact Start -->
<div class="container-fluid contact bg-light py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div>
                    <h4 class="text-primary">Contact Us</h4>
                    <h1 class="display-4 mb-4">Illuminate Your Message Get in Contact</h1>
                    <p class="mb-5">
                        We’re here to illuminate your path to success. Whether you have questions, need support, or want to explore opportunities, don’t hesitate to get in touch. Our team is eager to assist and collaborate with you. Connect with us today and let’s make great things happen together!
                    </p>
                    <div class="d-flex align-items-center mb-4">
                        <a class="btn btn-primary btn-md-square me-3" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-md-square me-3" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-md-square me-3" href=""><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-primary btn-md-square me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="d-inline-flex bg-white w-100 p-4">
                                <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                                <div>
                                    <h4>Address</h4>
                                    <p class="mb-0">
                                        M/s P2PAnalysis and Solutions SCO  207, 1st Floor, Swastik Vihar, Patiala  Road, Chandigarh Tri-City, Zirakpur, SAS  Nagar, Punjab
                                        India - 140603
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <div class="d-inline-flex bg-white w-100 p-4">
                                <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                                <div>
                                    <h4>Mail Us</h4>
                                    <p class="mb-0">hr01@p2p.ind.in</p>
                                    <p class="mb-0">hr02@p2p.ind.in</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-xl-6">
                            <div class="d-inline-flex bg-white w-100 p-4">
                                <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                                <div>
                                    <h4>Telephone</h4>
                                  
                                    <a href="Desk : +91 1762-2312856 | +91 1762-2312857" class="mb-3">
                                        <i class="fas fa-print text-primary me-2"></i>
                                        Desk : +91 1762-2312856 | +91 1762-2312857
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.4s">
                <div>
                    <p class="mb-4">Have questions or need further details? Our team is ready to assist you with any inquiries or provide additional information. Whether you’re seeking insights or exploring possibilities, we’re here to help.</p>
                    <form action="https://formsubmit.co/arpittathodp2p@gmail.com" method="POST">
                        <div class="row g-4">
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-0" name="name" required placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control border-0" name="email" required placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input type="number" class="form-control border-0" name="phone" required placeholder="Phone">
                                    <label for="phone">Your Phone</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-0" name="City" required placeholder="City">
                                    <label for="City">Your City</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <select class="form-control border-0" name="Type Of Inquiry" aria-label="Type Of Inquiry" required placeholder="Type Of Inquiry">
                                        <option value=" selected disabled">Type Of Inquiry</option>
                                        <option value="EngineeringService">Training</option>
                                        <option value="CreativeService">Career</option>
                                        <option value="StaffingService">Need Staffing Service</option>
                                    </select>
                                    <label for="subject">Type Of Inquiry</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <select class="form-control border-0" name="subject" aria-label="Education" required placeholder="Education">
                                        <option value="selected disabled">Your Education</option>
                                        <option value="B.E/B.Tech">B.E/B.Tech</option>
                                        <option value="B.E/B.Tech">M.Tech/MBA</option>
                                        <option value="WebService">BCA/MCA/BCS</option>
                                        <option value="DigitalService">BSC/MSC</option>
                                        <option value="B.com/M.com">B.com/M.com</option>

                                        <option value="StaffingService">Staffing Service</option>
                                    </select>
                                    <label for="subject">Staffing Service</label>
                                </div>
                            </div>
                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <select class="form-control border-0" name="Country/Region" aria-label="Country/Region" required placeholder="Country/Region">
                                        <option value="" selected disabled>Select Country/Region</option>
                                        <option value="us">United States</option>
                                        <option value="ca">Canada</option>
                                        <option value="uk">United Kingdom</option>
                                        <option value="in">India</option>
                                        <option value="au">Australia</option>
                                        <option value="fr">France</option>
                                        <option value="de">Germany</option>
                                        <!-- Add more countries as needed -->
                                    </select>
                                    <label for="country">Country/Region</label>
                                </div>
                            </div>

                            <div class="col-lg-12 col-xl-6">
                                <div class="form-floating">
                                    <select class="form-control border-0" name="Select Service" aria-label="Select Service" required placeholder="Select Service">
                                        <option value="selected disabled">Select Service</option>
                                        <option value="EngineeringService">Engineering Service</option>
                                        <option value="CreativeService">Creative Service</option>
                                        <option value="WebService">Web Service</option>
                                        <option value="DigitalService">Digital Service</option>
                                        <option value="StaffingService">Staffing Service</option>
                                        <option value="StaffingService">Human Source</option>
                                    </select>
                                    <label for="subject">Subject</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control border-0" placeholder="Leave a message here" id="message" style="height: 125px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheck">
                                    <label class="form-check-label" for="flexCheck">I agree with the site privacy policy</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 wow fadeInUp" data-wow-delay="0.2s">
                <div class="h-100 overflow-hidden">
                    <iframe class="w-100" style="height: 400px;"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3432.519611089336!2d76.80503467623087!3d30.64749348974597!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feb13f60d8e2d%3A0x69c672a009af727!2sM%2Fs%20P2P%20Analysis%20%26%20Solutions!5e0!3m2!1sen!2sin!4v1725353998804!5m2!1sen!2sin"
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Contact End -->