
@{
    ViewData["Title"] = "GeneralEngineering";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">General Engineering & other</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="/User/index">Home</a></li>
            <li class="breadcrumb-item"><a href="/User/Service">Service </a></li>
            <li class="breadcrumb-item active text-primary">General & Other Service</li>
        </ol>
    </div>
</div>
<!-- Header End -->



<!--GeneralEngineering EV-Mobility service start-->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row text-center justify-content-center mb-5">
            <div class="col-lg-7">
                <h2 class="text-primary">Our EV-Mobility service</h2>

                <h1 class="mb-4">EV-Mobility service equipment includes machinery, tools, and vehicles designed    </h1>
                <p class="mb-0">
                    EV-Mobility services are becoming increasingly important as the world shifts toward sustainable and eco-friendly transportation solutions.
                </p>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-lg-7 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="h-100">
                    <h4 class="text-primary">
                        <b>
                            EV-Mobility
                        </b>
                    </h4>
                    <h1 class="display-4 mb-4">
                        EV-Mobility Offered by P2P Analysis & Solution
                    </h1>@*
                    <div class="row g-4 mb-4">
                    <div class="col-md-6">
                    <a href="#" class="d-flex">
                    <span class="fas fa-bolt fa-3x me-3"></span>
                    <h4 class="mb-0">We are a service-based company and a fast-growing one</h4>
                    </a>
                    </div>
                    <div class="col-md-6">
                    <a href="#" class="d-flex">
                    <span class="fas fa-broadcast-tower fa-3x me-3"></span>
                    <h4 class="mb-0">We also provide staffing services for other companies.</h4>
                    </a>
                    </div>
                    </div> *@

                    <p class="mb-4">
                        Electric mobility is undoubtedly the future, and its presence is here to stay. However, the electrification of drivetrains—whether fully or partially electric—has a significant impact on passenger comfort and ride quality. We are pioneering advanced technologies to enhance the comfort, safety, and overall travel experience in both light and commercial electric vehicles, ensuring smooth and relaxed journeys.
                    
                    Electric drive trains for electric vehicles (EVs) are a critical component of modern EV technology. They consist of several key elements that work together to provide propulsion:
                    <p class="mb-4">
                    Electric Motor: Converts electrical energy into mechanical energy to drive the wheels. Common types are AC motors (such as induction motors and permanent magnet synchronous motors) and DC motors.
                    <p class="mb-4">
                    Battery Pack: Stores electrical energy that powers the electric motor. Lithium-ion batteries are commonly used due to their high energy density and long life.
                    <p class="mb-4">
                    Inverter: Converts the DC electricity from the battery into AC electricity to power the electric motor. It also controls the motor's speed and torque by varying the frequency and amplitude of the AC power.
                    <p class="mb-4">
                    Transmission (or Gearbox): Some EVs use a fixed gear ratio, while others have a transmission to optimize performance and efficiency at different speeds.
                    <p class="mb-4">
                    Controller: Manages the flow of electrical energy between the battery and the motor, and regulates the vehicle's speed and acceleration.
                    <p class="mb-4">
                    Regenerative Braking System: Recovers energy during braking and converts it back into electrical energy to recharge the battery, improving overall efficiency.
                    <p class="mb-4">
                        Cooling System: Keeps the electric motor, battery pack, and inverter at optimal operating temperatures to ensure reliable performance and longevity.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 wow fadeInRight" data-wow-delay="0.2s">
                <div class="position-relative h-100">
                    <img src="~/Template/img/em1.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                    <div class="bg-white">
                        
                        <div class="position-absolute p-3 bg-white pb-0 pe-0" style="width: 50%; bottom: 0; right: 0;">
                            <img src="~/Template/img/em2.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Banner Start -->
<div class="container-fluid banner py-5 wow zoomIn" data-wow-delay="0.2s">
    <div class="banner-design-1"></div>
    <div class="banner-design-2"></div>
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <div class="">
                    <h4 class="text-white">Contact With Me</h4>
                    <h1 class="display-4 text-white mb-0">We provide EV-Mobility services for our customer</h1>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex align-items-center justify-content-lg-end h-100">
                    <a class="btn btn-primary py-3 px-4 px-md-5 ms-2" href="/User/ContactFrom">Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!--GeneralEngineering EV-Mobility Drone service start-->
<div class="container-fluid about py-5">
    <div class="container py-5">
         <div class="row g-5">
                <!-- Move the text column to the left -->
             <div class="col-lg-7 wow fadeInLeft" data-wow-delay="0.2s">
                   <div class="h-100">
                        <h4 class="text-primary">
                            <b>EV-Mobility Two-Wheeler</b>
                        </h4>
                        <h1 class="display-4 mb-4">EV-Mobility Two-Wheeler Offered by P2P Analysis & Solution</h1>
                        @*
                        <div class="row g-4 mb-4">
                        <div class="col-md-6">
                        <a href="#" class="d-flex">
                        <span class="fas fa-bolt fa-3x me-3"></span>
                        <h4 class="mb-0">We are a service-based company and a fast-growing one</h4>
                        </a>
                        </div>
                        <div class="col-md-6">
                        <a href="#" class="d-flex">
                        <span class="fas fa-broadcast-tower fa-3x me-3"></span>
                        <h4 class="mb-0">We also provide staffing services for other companies.</h4>
                        </a>
                        </div>
                        </div> *@
                        <p class="mb-4">
                            Electric scooters and e-mobility two-wheelers are increasingly popular for their convenience, efficiency, and eco-friendly nature.
                        </p>
                        <div class="d-flex align-items-center mb-4">
                            <div class="ms-4">
                                <p><i class="fa fa-check text-primary me-2"></i>LED Lights: Many drones are equipped with bright LED lights for visibility, helping operators maintain visual line-of-sight. These lights also signal the drone's position to avoid collisions with other aircraft.</p>
                                <p><i class="fa fa-check text-primary me-2"></i>Electric Motor: Provides propulsion. Motors can vary in size and power depending on the scooter’s design and intended use.</p>
                                <p><i class="fa fa-check text-primary me-2"></i>Battery Pack: Typically lithium-ion, it stores the energy needed to power the motor. The range and performance of the scooter largely depend on the battery’s capacity.</p>
                                <p><i class="fa fa-check text-primary me-2"></i>Controller: Manages the power flow from the battery to the motor, including speed and torque control.</p>
                                <p><i class="fa fa-check text-primary me-2"></i>Frame: The structural component that supports the rider and other components. It’s designed for durability and stability.</p>
                                <p><i class="fa fa-check text-primary me-2"></i>Wheels: Often equipped with pneumatic or solid tires. They can be designed for comfort, durability, or performance.</p>
                                <p><i class="fa fa-check text-primary me-2"></i>Braking System: Includes disc or drum brakes, and some models have regenerative braking to recover energy during braking.</p>
                                <p><i class="fa fa-check text-primary me-2"></i>Suspension: Ensures a smooth ride by absorbing shocks from the road. It can be front, rear, or both.</p>
                                <p><i class="fa fa-check text-primary me-2"></i>Display and Controls: Includes handlebars with controls for acceleration, braking, and display screens showing speed, battery level, and other information.</p>
                            </div>
                        </div>
                    </div>
                   </div>

                <!-- Move the image column to the right -->
                  <div class="col-lg-5 wow fadeInRight" data-wow-delay="0.2s">
                    <div class="position-relative h-100">
                        <img src="~/Template/img/s1.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                        <div class="bg-white">
                            <div class="position-absolute p-3 bg-white pb-0 pe-0" style="width: 50%; bottom: 0; right: 0;">
                                <img src="~/Template/img/s2.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
        </div>
    </div>
<!--GeneralEngineering EV-Mobility Drone service  end->
  <!--GeneralEngineering EV-Mobility Two-Wheeler service end-->
<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <!-- Move the image column to the left -->
            <div class="col-lg-5 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="position-relative h-100">
                    <img src="~/Template/img/d2.jpg" class="img-fluid w-100 h-100" style="object-fit: cover;" alt="">
                    <div class="bg-white">
                        <div class="position-absolute p-3 bg-white pb-0 pe-0" style="width: 50%; bottom: 0; right: 0;">
                            <img src="~/Template/img/d1.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Move the text column to the right -->
            <div class="col-lg-7 wow fadeInRight" data-wow-delay="0.2s">
                <div class="h-100">
                    <h4 class="text-primary">
                        <b>EV-Mobility Drone</b>
                    </h4>
                    <h1 class="display-4 mb-4">EV-Mobility  Drone Offered by P2P Analysis & Solution</h1>
                    @*
                    <div class="row g-4 mb-4">
                    <div class="col-md-6">
                    <a href="#" class="d-flex">
                    <span class="fas fa-bolt fa-3x me-3"></span>
                    <h4 class="mb-0">We are a service-based company and a fast-growing one</h4>
                    </a>
                    </div>
                    <div class="col-md-6">
                    <a href="#" class="d-flex">
                    <span class="fas fa-broadcast-tower fa-3x me-3"></span>
                    <h4 class="mb-0">We also provide staffing services for other companies.</h4>
                    </a>
                    </div>
                    </div> *@
                    <p class="mb-4">
                        We are at the forefront of developing innovative electric mobility drone solutions, combining advanced technology with sustainability. Our drones offer efficient, eco-friendly transportation options, enhancing mobility in urban environments and beyond, while focusing on precision, reliability, and cutting-edge design.
                    </p>               <div class="d-flex align-items-center mb-4">
                        <div class="ms-4">

                            <p>
                                <i class="fa fa-check text-primary me-2"></i>LED Lights: Many drones are equipped with bright LED lights for visibility, helping operators maintain visual line-of-sight. These lights also signal the drone's position to avoid collisions with other aircraft.

                            </p>
                            <p><i class="fa fa-check text-primary me-2"></i>GPS Navigation: GPS allows drones to fly autonomously by following pre-set routes, regardless of the lighting conditions.</p>
                            <p><i class="fa fa-check text-primary me-2"></i>Infrared Sensors: Some drones use infrared (IR) sensors or cameras to detect obstacles in low-light conditions.</p>
                            <p><i class="fa fa-check text-primary me-2"></i>LIDAR and Ultrasonic Sensors: These sensors help drones gauge distance and avoid obstacles in the dark. </p>
                            <p>
                                <i class="fa fa-check text-primary me-2"></i>Thermal Cameras: Drones used in night operations often have thermal imaging cameras that allow them to detect heat signatures, enabling navigation and surveillance.

                            </p>
                            <p>
                                <i class="fa fa-check text-primary me-2"></i>Thermal Cameras: Drones used in night operations often have thermal imaging cameras that allow them to detect heat signatures, enabling navigation and surveillance.

                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--end-->
    <div class="untree_co-section">
        <div class="container">
            <div class="row text-center justify-content-center mb-5">
                <div class="col-lg-7">
                    <h2 class=" text-primary">Our EV-Mobality</h2>

                    <h1 class="mb-4">EV-Mobality vehicles designed </h1>
                    <p class="mb-0">
                        We are at the forefront of developing innovative electric mobility solutions, combining advanced technology with sustainability.
                        Our drones offer efficient, eco-friendly transportation options, enhancing mobility in urban environments and beyond, while focusing on precision, reliability, and cutting-edge design.

                    </p>
                </div>
            </div>

            <!-- Owl Carousel -->
            <div class="owl-carousel owl-3-slider">
                <div class="item">
                    <a class="media-thumb" href="/Template/img/em1.jpg" data-fancybox="gallery" data-caption="Pragser Wildsee, Italy">
                        <div class="media-text">
                            <h3>Pragser Wildsee</h3>
                            <span class="location">Italy</span>
                        </div>
                        <img src="/Template/img/em1.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
                <div class="item">
                    <a class="media-thumb" href="/Template/img/em2.png" data-fancybox="gallery" data-caption="Oia, Greece">
                        <div class="media-text">
                            <h3>Oia</h3>
                            <span class="location">Greece</span>
                        </div>
                        <img src="/Template/img/em2.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
                <div class="item">
                    <a class="media-thumb" href="/Template/img/a1.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                        <div class="media-text">
                            <h3>Perhentian Islands</h3>
                            <span class="location">Malaysia</span>
                        </div>
                        <img src="/Template/img/a1.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="untree_co-section">
        <div class="container">
           <!-- Owl Carousel -->
            <div class="owl-carousel owl-3-slider">
                <div class="item">
                    <a class="media-thumb" href="/Template/img/d1.jpg" data-fancybox="gallery" data-caption="Pragser Wildsee, Italy">
                        <div class="media-text">
                            <h3>Pragser Wildsee</h3>
                            <span class="location">Italy</span>
                        </div>
                        <img src="/Template/img/d1.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
                <div class="item">
                    <a class="media-thumb" href="/Template/img/d2.jpg" data-fancybox="gallery" data-caption="Oia, Greece">
                        <div class="media-text">
                            <h3>Oia</h3>
                            <span class="location">Greece</span>
                        </div>
                        <img src="/Template/img/d2.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
                <div class="item">
                    <a class="media-thumb" href="/Template/img/s2.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                        <div class="media-text">
                            <h3>Perhentian Islands</h3>
                            <span class="location">Malaysia</span>
                        </div>
                        <img src="/Template/img/s2.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
                <div class="item">
                    <a class="media-thumb" href="/Template/img/s7.jpg" data-fancybox="gallery" data-caption="Perhentian Islands, Malaysia">
                        <div class="media-text">
                            <h3>Perhentian Islands</h3>
                            <span class="location">Malaysia</span>
                        </div>
                        <img src="/Template/img/s7.jpg" alt="Image" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
